.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 36px;
}

h2 {
  margin-top: 40px;
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 20px;
  font-size: 18px;
}

button {
  background-color: #47d44c; /* Green */
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #45a049;
}
.back-button {
  position: absolute;
  top: 70px;
  right: 50px;
  width: 105px;
  height: 60px;
}

.back-button button {
  width: 100%;
  height: 100%;
}
