.app {
    height: 100%;
    width: 100%;
	background-image:
		url("https://wallpapercave.com/wp/wp9630379.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


.patient-form {
    background: rgb(2, 183, 255);
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.patient-form h2 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
}

.patient-form label {
    display: block;
    margin-bottom: 10px;
}

.patient-form input[type="text"],
.patient-form input[type="number"],
.patient-form select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.patient-form input[type="text"]:focus,
.patient-form input[type="number"]:focus,
.patient-form select:focus {
    border: 1px solid #555;
}

/* .patient-form button[type="submit"] {
    width: 100%;
    background-color: #ccc;
} */

.button{
    width: 100%;
    background-color: darkred;
}